@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto&display=swap');

$purple: #8047F8;
$purple_dark: #4B2995;
$purple_light: #EBE5F9;
$yellow_dark: #C47F17;
$yellow: #DBAC2C;
$yellow_light: #F1E9C9;

$base-title: #272221;
$base-subtitle: #403937;
$base-text: #574F4D;
$base-label: #8D8686;
$base-hover: #D7D5D5;
$base-button: #E6E5E5;
$base-input: #EDEDED;
$base-card: #F3F2F2;
$background: #FAFAFA;
$white: #FFFFFF;

$font-header-family: 'Baloo 2';
$font-headar-weight: bold;
$font-headar-size-4: 18px;
$font-headar-size-3: 20px;
$font-headar-size-2: 32px;
$font-headar-size-1: 48px;
$font-headar-line-height: 130%;

$font-normal-family: 'Roboto';
$font-normal-weight: normal;
$font-normal-weight-bold: bold;

$font-normal-line-height: 130%;
$font-normal-line-height-spaced: 160%;

$font-normal-size-7: 10px;
$font-normal-size-6: 12px;
$font-normal-size-5: 14px;
$font-normal-size-4: 16px;
$font-normal-size-3: 18px;
$font-normal-size-2: 20px;
$font-normal-size-1: 24px;